{% load static %}

<section>
    <div class="container">
        <div class="row mt-lg-3">
            <div class="col-12 col-md-6">
                <h2 class="title p-3">Sứ mệnh Metech</h2>
                <p class="content p-2 pb-0 mb-0">
                    Metech ra đời với sứ mệnh phát triển các sảm phẩm sử dụng công nghệ cao, để giải quyết các bài toán về Digital Marketing, Contact Center đa kênh. Mang đến những lợi ích và trải nghiệm hoàn toàn mới tới khách hàng của doanh nghiệp mà chúng tôi cung cấp
                    dịch vụ
                </p>
                <p class="content text-right p-2 pt-0 font-weight-bold">We are here to improve your customer experience</p>
            </div>
            <div class="col-sm-12 mb-5 text-center">
                <img class="w-75" src="{% static 'images/introduce.png' %}" alt="">
            </div>
            <div class="col-sm-12">
                <div class="certificates mb-5">
                    <h5 class="certificate-title pb-3 mb-2 font-weight-bold">Chứng chỉ đạt được</h5>
                    <div class="marquee" id="marquee">
                        <div>
                            <span class="certificate">
                                <ul class="nav">
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-1.png' %}" alt="">
                                    </li>
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-2.png' %}" alt="">
                                    </li>
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-3.png' %}" alt="">
                                    </li>
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-4.png' %}" alt="">
                                    </li>
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-5.png' %}" alt="">
                                    </li>
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-6.png' %}" alt="">
                                    </li>
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-7.png' %}" alt="">
                                    </li>
                                    <li>
                                        <img class="img_certificate" src="{% static 'images/certificate-8.png' %}" alt="">
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>