/*
headeer top
*/

body {
    margin-top: 89px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #4a4a4a !important;
}

.topbar {
    background-color: #23b3ca;
    padding: 0;
}

.topbar .container .row {
    margin: -7px;
    padding: 0;
}

.topbar .container .row .col-md-12 {
    padding: 0;
}

.topbar p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    color: #f1f6ff;
}

.topbar p>i {
    margin-right: 5px;
}

.topbar p:last-child {
    text-align: right;
}

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

.topbar ul.social-network {
    border: none;
    margin: 0;
    padding: 0;
}

.topbar ul.social-network li {
    border: none;
    margin: 0;
}

.topbar ul.social-network li i {
    margin: 0;
}

.topbar ul.social-network li {
    display: inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

.topbar ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}

.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-header .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.81) !important;
    position: relative;
}

.navbar-header .navbar-nav .nav-link:focus,
.navbar-header .navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

.navbar-header .navbar-nav .nav-link::before {
    width: 0;
    content: "";
    height: 3px;
    background: linear-gradient(45deg, #f3fb90, #b8f97f);
    position: absolute;
    top: 45px;
    margin: 0 -.5rem;
    transition: width 0.3s;
}

.navbar-header .navbar-nav .nav-link:hover::before {
    width: 100%;
    padding: 0 2px;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #ffffff 48%, #17a2b1 48%);
    background: -webkit-linear-gradient(left, #ffffff 48%, #17a2b1 48%);
    background: linear-gradient(45deg, #ffffff 48%, #17a2b8 48%);
    box-shadow: 0 4px 24px 0 rgba(103, 151, 255, .1), 0 12px 64px 0 rgba(103, 151, 255, .1);
}


/* BANNER */

.description-outstanding .content {
    bottom: 0;
    color: #ffffff;
    padding-top: 15px;
}

.description-outstanding .content>div>h4::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 4px;
    margin-top: 30px;
    border-radius: 2px;
    background: #ffea00;
}

.description-outstanding .content p {
    text-transform: uppercase;
    line-height: 1.6;
    font-family: 'Fira Sans', sans-serif;
    font-size: 35px;
}

@media (max-width: 767px) {
    .description-outstanding .content p {
        line-height: 1.5;
        font-size: 14px !important;
        font-family: 'Roboto', sans-serif !important;
    }
    .description-outstanding .content {
        padding-top: 5px !important;
    }
}

.title {
    background: linear-gradient(40deg, #3a6b98, #189da2);
    color: #ffffff;
    font-family: 'Pacifico', cursive;
}

.certificate-title {
    background-image: url(./images/dash-dot-line.png);
    background-position: 0 bottom;
    background-repeat: no-repeat;
}

.certificates {
    overflow: hidden;
}

.marquee {
    height: 100px;
    width: 100%;
    animation: marquee 20s linear infinite 2s normal;
    position: relative;
}

.marquee .nav {
    position: absolute;
}

.marquee .nav,
.marquee img,
.marquee li {
    height: 100%;
}

.marquee .certificate {
    height: 100px;
    width: 100%;
    animation: certificate 20s linear infinite 2s normal;
    position: absolute;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes certificate {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}


/* @media (max-width: 767px) {
    .marquee img {
        margin-left: 10px;
        height: 40px;
    }
    .marquee {
        height: 35px;
    }
} */